*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
  
}
.inside{
    width: 50%;
    height: 60%;
    /* border: 1px solid red; */
    position: absolute;
    top: 20%;
    left: 10%;
    display: flex;
    flex-wrap: wrap;
}
.box{
    position: relative;
    top: 0%;
    left: 0%;
    border: 1px solid violet;
    width: 33%;
    cursor: pointer;
}
.box:hover{
    background-color: rgb(231 200 200 / 27%);
}
.border-left{
    border-left: none;
}
.border-right{
    border-right: none;
}
.border-top{
    border-top: none;
}
.border-bottom{
    border-bottom: none;
}
.boxtext{
    position: absolute;
    left: 0%;
    width: 100%;
    height: 100%;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.forscoreboard{
    position: absolute;
    left: 63%;
    /* background: green; */
    width: 30%;
    /* border: 1px solid black; */
    height: 40%;
    top: 20%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-color: rgb(231 200 200 / 27%);
}
.forscoreboard img{
    width: 100px;
    height: 120px;
    position: absolute;
    top: 15%;
    left: 35%;
 
}
.img{
   display: none;
}
.turn{
    position: absolute;
    left: 30%;
    /* border: 1px solid blue; */
    top: 5%;
    width: 40%;
    height: 8%;
    font-size: 18px;
    text-align: center;
    font-weight: 900;
    color: #f30000;
}
#winner{
    position: absolute;
    left: 30%;
    /* border: 1px solid blue; */
    top: 65%;
    width: 40%;
    height: 8%;
    font-size: 18px;
    text-align: center;
    line-height: 20px;
    color: red;
}
.reset{
    position: absolute;
    left: 35%;
    /* border: 1px solid blue; */
    top: 85%;
    width: 30%;
    height: 10%;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border: none;
}
.reset:hover{
    background-color: red
}
.boxtext{
    font-size: 75px;
    font-weight: 900;
    text-align: center;
    justify-content: center;
}
.heading{
    position: absolute;
    top: 5%;
    width: 20%;
    /* border: 2px solid green; */
    color: red;
    left: 40%;
    text-align: center;
}